.home {
    background-image: url("/img/krajobraz.jpg");
    background-position: center center;
    height: 100vh;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.home::after {
    content: "";
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 2;
}

.home__button {
    border: 2px solid white;
    text-decoration: none;
    padding: 20px 30px;
    color: white;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.5);
    transition: .3s;
    z-index: 3;
}

.home__button:hover {
    background: black;
}