.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 95vh;
}

.home {
    grid-column: 1 / -1;
    // background-image: url("/img/home-background.jpg");
    background-position: center center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;

    -webkit-clip-path: polygon(0 0, 100% 0, 100% 60vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 60vh, 0 100%);

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba($color-primary, .6);
    }
}

.about-us {
    grid-column: 2 / -2;
    padding: 3rem 0;
}

